@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .markdown-body ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .markdown-body ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .markdown-body p {
    margin-bottom: 0.5rem;
  }
  .markdown-body h1, .markdown-body h2, .markdown-body h3 {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .markdown-body a {
    color: #0d9488;
    text-decoration: underline;
  }
}
